.fixed_size_btn {
    width: 200px !important;
}

.form_imagem_Master {
    height: 250px;
    width: 250px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.form_imagem_Admin {
    height: 300px;
    width: 300px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.form_imagem_Comum {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 50%;
    border-width: 6px;
}

.imagem_redonda {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid #49395b;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.notificacao {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #de0000;
    background-color: #de0000;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-align: center;
    align-items: center;
    vertical-align: central;
    color: white;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #F5BC20;
    border-right: 8px solid #f5ce65;
    border-bottom: 8px solid #f3dfa8;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg_amarelo1 {
    background-color: #F5BC20;
}

.bg_amarelo2 {
    background-color: #fbebc1;
}

.bg_amarelo3 {
    background-color: #edc253;
}

.bg_table {
    background-color: #ffffff;
}

.bg_error {
    background-color: #ff1c1c;
}

.txt_amarelo1 {
    color: #F5BC20;
}

.txt_amarelo3 {
    color: #edc253;
}

.txt_verde1 {
    color: #10b10e;
}

.txt_error {
    color: #de0000;
}

footer {
 width: 100%;
 position: fixed;
 bottom: 0;
 right: 0;
 border-bottom: 5px;
 background: #f2f2f2;
 color: white;
 height: 50px;
 display: flex;
}