<div class="container bg-white">

    <div class="page-header">

        <div class="text-center" style="align-items: center;">
            <br />
            <h1>Por onde começar sua <strong>Pesquisa?</strong></h1>
            <br />
            <hr />
            <br />
            <div class="row">
                <div class="col-md-3">
                    <h5>TRAJETO</h5>
                    <img class="card-img-top form_imagem_Comum" ng-click="vm.tipoDePesquisa('Trajeto')" src="/assets/css/images/2-Comum/bairro.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <h5>LINHA</h5>
                    <img class="card-img-top form_imagem_Comum" ng-click="vm.tipoDePesquisa('Linha')" src="/assets/css/images/2-Comum/onibus.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <h5>HORÁRIOS</h5>
                    <img class="card-img-top form_imagem_Comum" ng-click="vm.tipoDePesquisa('Horários')" src="/assets/css/images/2-Comum/relogio.png" alt="Card image cap">
                </div>
                <div class="col-md-3">
                    <h5>PARADAS</h5>
                    <img class="card-img-top form_imagem_Comum" ng-click="vm.tipoDePesquisa('Paradas')" src="/assets/css/images/2-Comum/parada.png" alt="Card image cap">
                </div>
            </div>

            <br />
            <hr />

            <div class="col-12">
                <div ng-show="vm.mensagemInicial" class="text-center" style="align-items: center;">
                    <h5 class="text-center" style="align-items: center;">
                        Seja bem-vindo ao Luziânia no Ponto, o sistema de consulta de detalhes sobre o seu transporte.
                        <br />
                        <br /> Aqui você pode encontrar informações sobre linhas, horários, tarifas, percursos e paradas.
                        <br />
                        <br /> Selecione uma das opções para iniciar a sua busca.
                        <br />
                        <br />
                    </h5>
                </div>
            </div>

            <div class="justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-center">

                        <div class="col-sm-7">

                            <div ng-show="'Trajeto' == vm.pesquisa" class="text-center" style="align-items: center;">
                                <label for="form5">Pesquise o <b>TRAJETO</b> desejado</label>
                                <br />
                                <br />
                                <div class="md-form">
                                    <input placeholder="Ex.: Parque Alvorada" type="text" id="trajeto" ng-model="vm.filtro.Trajeto" class="form-control">
                                    <br />
                                    <button type="button" ng-click="vm.pesquisaInicial(vm.filtro, 'Trajeto')" ng-disabled="!vm.filtro.Trajeto" class="btn bg_amarelo1" style="text-align:center"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                            </div>
                            <div ng-show="'Linha' == vm.pesquisa" class="text-center" style="align-items: center;">
                                <label for="form5">Pesquise a <b>LINHA</b> desejada</label>
                                <br />
                                <br />
                                <div class="md-form">
                                    <input placeholder="Ex.: 450" type="text" id="linha" ng-model="vm.filtro.Linha" class="form-control">
                                    <br />
                                    <button type="button" ng-click="vm.pesquisaInicial(vm.filtro, 'Linha')" ng-disabled="!vm.filtro.Linha" class="btn bg_amarelo1" style="text-align:center"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                            </div>

                            <div ng-show="'Horários' == vm.pesquisa" class="text-center" style="align-items: center;">
                                <label for="form5">Pesquise os ônibus em uma faixa de <b>HORÁRIOS</b> de partida desejada</label>
                                <br />
                                <br />

                                <div class="md-form">
                                    <input type="text" style="text-align:center" id="horarioUm" class="form-control" ng-model="vm.filtro.HorarioUm" placeholder="Ex.: 14:00">
                                    <label for="horarioUm">De:</label>
                                </div>

                                <div class="md-form">
                                    <input type="text" style="text-align:center" id="horarioDois" class="form-control" ng-model="vm.filtro.HorarioDois" placeholder="Ex.: 17:00">
                                    <label for="horarioDois">Até:</label>
                                </div>
                                <div class="md-form">
                                    <br />
                                    <button type="button" ng-click="vm.pesquisaInicial(vm.filtro, 'Horarios')" ng-disabled="!vm.filtro.HorarioUm || !vm.filtro.HorarioDois" class="btn bg_amarelo1" style="text-align:center"><i class="fa fa-search"></i> Pesquisar</button>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div ng-show="'Paradas' == vm.pesquisa" style="text-align:center;">

                        <label for="form5">Pesquise no mapa as <b>PARADAS</b> que deseja consultar</label>
                        <div id="mapprincipalparadas" style="height: 600px; border-style: ridge; border-color: #fbebc1;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
