<div class="container bg-white">

    <div class="page-header">
        <br />
        <div>
            <h3>
                <a href="javascript:history.back()" class="pull-left txt_amarelo1" title="Voltar"><i class="fa fa-arrow-circle-o-left"></i></a>&emsp;
            </h3>
        </div>
    </div>


    <h5></h5>
    <div class="page-header">
        <div>
            <h3 class="card-header black-text bg_amarelo2">
                Informações da linha
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><h6><b>Itinerário:</b> {{vm.detalhes.Nome}}</h6></p>
                    <p class="card-text"><h6><b>Empresa:</b> {{vm.detalhes.Empresa.Nome}}</h6></p>
                    <p class="card-text"><h6><b>Número:</b> {{vm.detalhes.Numero}}</h6></p>
                    <p class="card-text"><h6><b>Tipo de linha:</b> {{vm.detalhes.Tipo.Descricao}}</h6></p>
                    <p class="card-text"><h6><b>Partidas:</b> {{vm.detalhes.Partidas}}</h6></p>
                    <p class="card-text"><h6><b>Tarifa: </b> R$ {{vm.detalhes.Tarifa}}</h6></p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <a data-toggle="modal" data-target="#centralModalInfo"><i class="fa fa-clock-o"></i> Mostrar todos os HORÁRIOS</a>
                    <br />
                    <br /><input type="checkbox" ng-model="todasParadas" ng-change="vm.mostrarParadas(todasParadas)"> Mostrar todas as PARADAS
                    <br />
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <a data-toggle="modal" data-target="#modalSugestoes"><i class="fa fa-comment"></i> Dê a sua sugestão sobre essa linha</a>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="mapdetalharlinha" style="height: 600px; border-style: ridge; border-color: #fbebc1;"></div>
        </div>
    </div>
</div>
<br />
<br />


<div class="modal fade" id="modalSugestoes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <p class="heading lead">Enviar sugestão</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <i class="fa  fa-comment-o fa-3x mb-3 animated rotateIn"></i>
                </div>
                <textarea type="text" id="sugestao" ng-model="vm.sugestao" class="md-textarea" placeholder="Insira aqui sua sugestão"></textarea>
            </div>

            <div class="modal-footer">
                <a class="btn bg_amarelo1  waves-effect pull-right" data-dismiss="modal" ng-click="vm.enviarSugestao(vm.sugestao, vm.detalhes.Empresa.Id, vm.detalhes.Id)">Enviar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <p class="heading lead">Horários</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <h5>{{vm.detalhes.Nome}}</h5>
                    <h6>{{vm.detalhes.Tipo.Descricao}}</h6>
                    <i class="fa  fa-clock-o fa-3x mb-3 animated rotateIn"></i>
                    <ul class="list-group" ng-repeat="horario in vm.detalhes.Horarios">
                        <li class="list-group-item">
                            {{horario.HoraSaida}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>