<div class="container bg-white">

    <div class="page-header">
        <br />
        <br />
        <div>
            <h3>
                <a href="javascript:history.back()" class="pull-left txt_amarelo1" title="Voltar"><i class="fa fa-arrow-circle-o-left"></i></a>&emsp;
                <strong ng-show="vm.linha.Id == null">
                    Cadastrar Linha
                </strong>
                <strong ng-hide="vm.linha.Id == null">
                    Editar Linha
                </strong>
                <a class="btn pull-right bg_amarelo1" ng-click="vm.cadastrarLinha(vm.linha)"
                   ng-disabled="vm.linha.Nome == null || vm.linha.Tipo == null || vm.linha.Numero == null">
                    Salvar
                </a>
            </h3>
        </div>
    </div>

    <br />
    <h5 class="green-text text-center" ng-show="vm.showMsgSuccess"><b>{{vm.msgSucesso}}</b></h5>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <div class="md-form form-sm">
                        <input type="text" ng-model="vm.linha.Nome" id="nome" class="form-control">
                        <label class="active" for="nome">Trajeto</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form form-sm">
                        <input type="number" ng-model="vm.linha.Numero" id="nome" class="form-control">
                        <label class="active" for="nome">Número</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form form-sm">
                        <input type="number" ng-model="vm.linha.Tarifa" id="tarifa" class="form-control">
                        <label class="active" for="tarifa">Tarifa</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="md-form form-sm">
                        <select class="form-control" ng-model="vm.linhaEmpresa" ng-options="linhaEmpresa.Nome for linhaEmpresa in vm.linhasDaEmpresa" ng-change="vm.aproveitarLinha(vm.linhaEmpresa)">
                            <option value="">Aproveite um trajeto de outro mapa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="md-form form-sm">
                        <select class="form-control" ng-model="vm.linha.Tipo" ng-options="tipo.Descricao for tipo in vm.tipos track by tipo.Id">
                            <option value="">Tipo de Linha</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="mapcriarlinha" style="height: 600px; border-style: ridge; border-color: #fbebc1;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <a ng-click="vm.resetarDesenho()"><b>Resetar desenho</b></a>
                            <br />
                            <a ng-click="vm.limparEscopo()"><b>Resetar todos os dados</b></a>
                        </div>
                        <div class="col-md-6">
                            <div ng-show="true" class="pull-right">
                                <input type="checkbox" class="" ng-model="todasParadas" ng-change="vm.mostrarParadas(todasParadas)"><b> Mostrar todas as paradas</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <table class="table">
                <thead class="bg_amarelo2">
                    <tr>
                        <th>
                            <label for="tipo" style="text-align:center">Horários</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="horario in vm.lstHorarios">
                    <tr>
                        <td> {{horario.HoraSaida}}</td>
                        <td><i class="fa fa-trash" ng-click="vm.lstHorarios.splice($index,1)"></i></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <a style="background-color:#fff" title="Adicionar Horário" ng-click="vm.addHorarioNaLista()" data-toggle="modal" data-target="#modalAddHorario"><i class="fa fa-2x fa-plus-circle"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />

    <br />
    <hr />
    <div class="row">
        <a class="btn pull-left bg_amarelo3" ng-hide="vm.linha.Id == null" data-toggle="modal" data-target="#janelaDeConfirmacao">Excluir esta linha</a>
    </div>
</div>

<br />
<hr />

<div class="modal fade" id="modalAddHorario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-notify modal-info modal-sm modal-bottom" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <p class="heading lead">Cadastrar Horário</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.limparHora()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-clock-o fa-3x mb-3 animated rotateIn blue-text"></i>

                    <div class="md-form form-sm">
                        <input type="text" ng-model="vm.HoraSaida" id="horaSaida" class="form-control">
                        <label for="horaSaida" class="">Hora de Saída</label>
                    </div>

                    <div class="md-form form-sm">
                        <button class="btn pull-right bg_amarelo1" ng-disabled="!vm.HoraSaida" ng-click="vm.addHorario(vm.HoraSaida)">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="janelaDeConfirmacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <p class="heading lead">Confirmação de Exclusão</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-question fa-3x mb-3 animated rotateIn blue-text"></i>
                    <div class="md-form form-sm">
                        Tem certeza de deseja excluir linha <strong>{{vm.linha.Nome}}</strong>?
                    </div>
                    <div class="md-form form-sm">
                        <a class="btn pull-left class bg-grey" data-dismiss="modal" aria-label="Close">FECHAR</a>
                        <a class="btn bg_amarelo1 pull-right" ng-click="vm.excluirLinha()">EXCLUIR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cadastroSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <div class="text-center">
                    <i class="fa fa-check fa-3x mb-3 animated rotateIn blue-text"></i>
                    Linha <b>registrada</b> com sucesso!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exclusaoSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <div class="text-center">
                    <i class="fa fa-trash fa-3x mb-3 animated rotateIn blue-text"></i>
                    Linha <b>excluída</b> com sucesso!
                </div>
            </div>
        </div>
    </div>
</div>